<h1>Volunteer Tracker</h1>

<p>Create a new project:</p>

<form action="/" method="post">
  <label for="title">Assign a title for your project:</label>
  <input id="title" name="title" type="text">

  <button type="submit">Create Project</button>
</form>


<% if @projects.any? %>
<p>Click on a project to see its volunteers:</p>

<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are no projects yet!</p>
<% end %>
